<!DOCTYPE html>
<html>
    <head>
        <title>Mats Price calculator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>MATS PRICE CALCULATOR</h1><hr><br>
            <form action="/" method="post">
                <label for="input1">Metal : </label>
                <input type="number" id="input1" name="input1" value="0"><br><br>
        
                <label for="input2">Cloth : </label>
                <input type="number" id="input2" name="input2" value="0"><br><br>
        
                <label for="input3">Beast : </label>
                <input type="number" id="input3" name="input3" value="0"><br><br>
        
                <label for="input4">Wood : </label>
                <input type="number" id="input4" name="input4" value="0"><br><br>

                <label for="input5">Medicine : </label>
                <input type="number" id="input5" name="input5" value="0"><br><br>

                <label for="input6">Mana : </label>
                <input type="number" id="input6" name="input6" value="0"><br><br>
        
                <input type="submit" value="Submit">
            </form>
            {% if total is defined %}
            <p>Total harga fil stat minimal adalah: {{ total }} spina</p>
            {% endif %}
            <p>Bahan yang dibutuhkan (stak): {{metal_mats}} stk metal, {{cloth_mats}} stk cloth, {{beast_mats}} stk beast, {{wood_mats}} stk wood, {{medicine_mats}} stk medicine, dan {{mana_mats}} stk mana</p>
            <p>*metal : beautiful mineral (laduro),burgar's cloth (laduro), beast : tailgon, medicine : jelly, mana: ss1</p>
        </div>
    </body>
</html>